/bin/
/docs/
/eljc*out
/out/
/target/
/output/
/COMP*/
/.idea
/lib/compile/activej-boot-6.0-beta2.jar
/lib/compile/activej-bytebuf-6.0-beta2.jar
/lib/compile/activej-bytebuf-6.0-beta2-sources.jar
/lib/compile/activej-common-6.0-beta2.jar
/lib/compile/activej-common-6.0-beta2-sources.jar
/lib/compile/activej-config-6.0-beta2.jar
/lib/compile/activej-config-6.0-beta2-sources.jar
/lib/compile/activej-csp-6.0-beta2.jar
/lib/compile/activej-csp-6.0-beta2-sources.jar
/lib/compile/activej-eventloop-6.0-beta2.jar
/lib/compile/activej-eventloop-6.0-beta2-sources.jar
/lib/compile/activej-http-6.0-beta2.jar
/lib/compile/activej-http-6.0-beta2-sources.jar
/lib/compile/activej-inject-6.0-beta2.jar
/lib/compile/activej-inject-6.0-beta2-sources.jar
/lib/compile/activej-jmx-6.0-beta2.jar
/lib/compile/activej-jmx-6.0-beta2-sources.jar
/lib/compile/activej-jmx-stats-6.0-beta2.jar
/lib/compile/activej-jmx-stats-6.0-beta2-sources.jar
/lib/compile/activej-jmxapi-6.0-beta2.jar
/lib/compile/activej-jmxapi-6.0-beta2-sources.jar
/lib/compile/activej-launcher-6.0-beta2.jar
/lib/compile/activej-launcher-6.0-beta2-sources.jar
/lib/compile/activej-launchers-common-6.0-beta2.jar
/lib/compile/activej-launchers-common-6.0-beta2-sources.jar
/lib/compile/activej-launchers-http-6.0-beta2.jar
/lib/compile/activej-launchers-http-6.0-beta2-sources.jar
/lib/compile/activej-net-6.0-beta2.jar
/lib/compile/activej-net-6.0-beta2-sources.jar
/lib/compile/activej-promise-6.0-beta2.jar
/lib/compile/activej-promise-6.0-beta2-sources.jar
/lib/compile/activej-servicegraph-6.0-beta2.jar
/lib/compile/activej-servicegraph-6.0-beta2-sources.jar
/lib/compile/activej-triggers-6.0-beta2.jar
/lib/compile/activej-triggers-6.0-beta2-sources.jar
/lib/compile/activej-types-6.0-beta2.jar
/lib/compile/activej-types-6.0-beta2-sources.jar
/lib/compile/activej-workers-6.0-beta2.jar
/lib/compile/activej-workers-6.0-beta2-sources.jar
/lib/compile/annotations-24.1.0.jar
/lib/compile/annotations-24.1.0-sources.jar
/lib/compile/antlr-2.7.7.jar
/lib/compile/bld-1.9.1.jar
/lib/compile/bld-1.9.1-sources.jar
/lib/compile/buffers-v1-0.0.3.jar
/lib/compile/byte-buddy-1.14.9.jar
/lib/compile/byte-buddy-1.14.9-sources.jar
/lib/compile/checker-qual-3.42.0.jar
/lib/compile/checker-qual-3.42.0-sources.jar
/lib/compile/commons-codec-1.17.0.jar
/lib/compile/commons-codec-1.17.0-sources.jar
/lib/compile/commons-lang3-3.14.0.jar
/lib/compile/commons-lang3-3.14.0-sources.jar
/lib/compile/error_prone_annotations-2.26.1.jar
/lib/compile/error_prone_annotations-2.26.1-sources.jar
/lib/compile/failureaccess-1.0.2.jar
/lib/compile/failureaccess-1.0.2-sources.jar
/lib/compile/guava-33.1.0-jre.jar
/lib/compile/guava-33.1.0-jre-sources.jar
/lib/compile/j2objc-annotations-3.0.0.jar
/lib/compile/j2objc-annotations-3.0.0-sources.jar
/lib/compile/jackson-annotations-2.17.2.jar
/lib/compile/jackson-annotations-2.17.2-sources.jar
/lib/compile/jackson-core-2.17.2.jar
/lib/compile/jackson-core-2.17.2-sources.jar
/lib/compile/jackson-databind-2.17.2.jar
/lib/compile/jackson-databind-2.17.2-sources.jar
/lib/compile/jackson-datatype-pcollections-2.17.2.jar
/lib/compile/jackson-datatype-pcollections-2.17.2-sources.jar
/lib/compile/jakarta.annotation-api-2.1.1.jar
/lib/compile/jakarta.annotation-api-2.1.1-sources.jar
/lib/compile/jakarta.servlet-api-6.0.0.jar
/lib/compile/jakarta.servlet-api-6.0.0-sources.jar
/lib/compile/jboss-logging-3.4.3.Final.jar
/lib/compile/jboss-logging-3.4.3.Final-sources.jar
/lib/compile/jboss-threads-3.5.0.Final.jar
/lib/compile/jboss-threads-3.5.0.Final-sources.jar
/lib/compile/jdeferred-core-2.0.0.jar
/lib/compile/jdeferred-core-2.0.0-sources.jar
/lib/compile/jna-5.14.0.jar
/lib/compile/jna-5.14.0-sources.jar
/lib/compile/jsr305-3.0.2.jar
/lib/compile/jsr305-3.0.2-sources.jar
/lib/compile/kotlin-stdlib-1.8.21.jar
/lib/compile/kotlin-stdlib-1.8.21-sources.jar
/lib/compile/kotlin-stdlib-common-1.9.10.jar
/lib/compile/kotlin-stdlib-common-1.9.10-sources.jar
/lib/compile/kotlin-stdlib-jdk7-1.8.21.jar
/lib/compile/kotlin-stdlib-jdk7-1.8.21-sources.jar
/lib/compile/kotlin-stdlib-jdk8-1.8.21.jar
/lib/compile/kotlin-stdlib-jdk8-1.8.21-sources.jar
/lib/compile/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/lib/compile/okhttp-4.12.0.jar
/lib/compile/okhttp-4.12.0-sources.jar
/lib/compile/okio-3.6.0.jar
/lib/compile/okio-3.6.0-sources.jar
/lib/compile/okio-jvm-3.6.0.jar
/lib/compile/okio-jvm-3.6.0-sources.jar
/lib/compile/org.eclipse.jdt.annotation-2.3.0.jar
/lib/compile/org.eclipse.jdt.annotation-2.3.0-sources.jar
/lib/compile/pcollections-4.0.2.jar
/lib/compile/pcollections-4.0.2-sources.jar
/lib/compile/range-v1-0.0.3b.jar
/lib/compile/range-v1-0.0.3b-sources.jar
/lib/compile/reactive-streams-1.0.4.jar
/lib/compile/reactive-streams-1.0.4-sources.jar
/lib/compile/rife2-1.7.3.jar
/lib/compile/rife2-1.7.3-sources.jar
/lib/compile/rife2-core-1.8.1.jar
/lib/compile/rife2-core-1.8.1-sources.jar
/lib/compile/rife2-renderers-1.1.5.jar
/lib/compile/rife2-renderers-1.1.5-sources.jar
/lib/compile/rxjava-3.1.8.jar
/lib/compile/rxjava-3.1.8-sources.jar
/lib/compile/slf4j-api-2.0.13.jar
/lib/compile/slf4j-api-2.0.13-sources.jar
/lib/compile/slf4j-simple-2.0.13.jar
/lib/compile/slf4j-simple-2.0.13-sources.jar
/lib/compile/spotbugs-annotations-4.8.3.jar
/lib/compile/spotbugs-annotations-4.8.3-sources.jar
/lib/compile/undertow-core-2.3.12.Final.jar
/lib/compile/undertow-core-2.3.12.Final-sources.jar
/lib/compile/undertow-servlet-2.3.12.Final.jar
/lib/compile/undertow-servlet-2.3.12.Final-sources.jar
/lib/compile/wildfly-client-config-1.0.1.Final.jar
/lib/compile/wildfly-client-config-1.0.1.Final-sources.jar
/lib/compile/wildfly-common-1.5.4.Final.jar
/lib/compile/wildfly-common-1.5.4.Final-sources.jar
/lib/compile/xnio-api-3.8.8.Final.jar
/lib/compile/xnio-api-3.8.8.Final-sources.jar
/lib/runtime/xnio-nio-3.8.8.Final.jar
/lib/runtime/xnio-nio-3.8.8.Final-sources.jar
/lib/standalone/jakarta.servlet-api-6.0.0.jar
/lib/standalone/jakarta.servlet-api-6.0.0-sources.jar
/lib/standalone/jetty-ee10-servlet-12.0.6.jar
/lib/standalone/jetty-ee10-servlet-12.0.6-sources.jar
/lib/standalone/jetty-http-12.0.6.jar
/lib/standalone/jetty-http-12.0.6-sources.jar
/lib/standalone/jetty-io-12.0.6.jar
/lib/standalone/jetty-io-12.0.6-sources.jar
/lib/standalone/jetty-security-12.0.6.jar
/lib/standalone/jetty-security-12.0.6-sources.jar
/lib/standalone/jetty-server-12.0.6.jar
/lib/standalone/jetty-server-12.0.6-sources.jar
/lib/standalone/jetty-session-12.0.6.jar
/lib/standalone/jetty-session-12.0.6-sources.jar
/lib/standalone/jetty-util-12.0.6.jar
/lib/standalone/jetty-util-12.0.6-sources.jar
/lib/standalone/slf4j-api-2.0.12.jar
/lib/standalone/slf4j-api-2.0.12-sources.jar
/lib/standalone/slf4j-simple-2.0.12.jar
/lib/standalone/slf4j-simple-2.0.12-sources.jar
/lib/test/apiguardian-api-1.1.2.jar
/lib/test/apiguardian-api-1.1.2-sources.jar
/lib/test/easymock-5.2.0.jar
/lib/test/easymock-5.2.0-sources.jar
/lib/test/hamcrest-core-1.3.jar
/lib/test/hamcrest-core-1.3-sources.jar
/lib/test/jsoup-1.17.2.jar
/lib/test/jsoup-1.17.2-sources.jar
/lib/test/junit-4.13.2.jar
/lib/test/junit-4.13.2-sources.jar
/lib/test/junit-jupiter-5.10.2.jar
/lib/test/junit-jupiter-5.10.2-sources.jar
/lib/test/junit-jupiter-api-5.10.2.jar
/lib/test/junit-jupiter-api-5.10.2-sources.jar
/lib/test/junit-jupiter-engine-5.10.2.jar
/lib/test/junit-jupiter-engine-5.10.2-sources.jar
/lib/test/junit-jupiter-params-5.10.2.jar
/lib/test/junit-jupiter-params-5.10.2-sources.jar
/lib/test/junit-platform-commons-1.10.2.jar
/lib/test/junit-platform-commons-1.10.2-sources.jar
/lib/test/junit-platform-console-standalone-1.10.2.jar
/lib/test/junit-platform-console-standalone-1.10.2-sources.jar
/lib/test/junit-platform-engine-1.10.2.jar
/lib/test/junit-platform-engine-1.10.2-sources.jar
/lib/test/logback-classic-1.5.3.jar
/lib/test/logback-classic-1.5.3-sources.jar
/lib/test/logback-core-1.5.3.jar
/lib/test/logback-core-1.5.3-sources.jar
/lib/test/objenesis-3.3.jar
/lib/test/objenesis-3.3-sources.jar
/lib/test/opentest4j-1.3.0.jar
/lib/test/opentest4j-1.3.0-sources.jar
/lib/test/slf4j-api-2.0.12.jar
/lib/test/slf4j-api-2.0.12-sources.jar
